<section class="footer-area footer-two section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="footer-widget">
                    <div class="footer-title">
                        <h4>О Банке</h4>
                    </div>
                    <p>Более чем 15-летний опыт и знания. ЗАО «Идея Банк» — банк со 100% иностранным капиталом — входит в состав крупного восточноевропейского финансового холдинга Getin Holding, имеющего опыт работы на рынке банковских и страховых услуг, финансового консалтинга.</p>
                    <div class="footer-two-social">
                        <a href="https://www.facebook.com/ideabankby" class="fa fa-facebook-f"></a>
                        <a href="https://vk.com/ideabankby" class="fa fa-vk"></a>
                        <a href="https://twitter.com/IdeaBank_BY" class="fa fa-twitter"></a>
                        <a href="https://www.youtube.com/channel/UC0K2q13cQ7AlvEuW8_82UcA" class="fa fa-youtube"></a>
                        <a href="mailto:info@ideabank.by" class="fa fa-envelope"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="footer-widget recent-post">
                    <div class="footer-title">
                        <h4>Время Работы</h4>
                    </div>
                    <ul class="opening-time">
                        <li>Пн : 8.30 до 19.00</li>
                        <li>Вт : 8.30 до 19.00</li>
                        <li>Ср : 8.30 до 19.00</li>
                        <li>Чт : 8.30 до 19.00</li>
                        <li>Пт : 8.30 до 19.00</li>
                        <li>Сб - Вс : ЗАКРЫТО</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer-widget">
                    <div class="footer-title">
                        <h4>Свяжитесь с Нами</h4>
                    </div>
                    <div class="contact-widget">
                        <ul>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/map-pin.png" alt="">
                                </div>
                                <div class="content">
                                    <p>Головной офис: улица Змитрока Бядули 11, г. Минск</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/envalope-2.png" alt="">
                                </div>
                                <div class="content">
                                    <p>support@ideabank.by
                                        <span>ответим в течении двух часов</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/envalope-2.png" alt="">
                                </div>
                                <div class="content">
                                    <p>
                                        +375-17-229-96-02 <br>
                                        +375-29-675-50-74

                                        <span>Звонки с 8.30 до 17.00</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="copy-right-section second-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <div class="copyright-text">
                    <p><i class="fa fa-copyright"></i> 2019 IdeaBank. Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</div>