<section class="footer-area footer-two section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="footer-widget">
                    <div class="footer-title">
                        <h4>О Нас</h4>
                    </div>
                    <p>Более чем 24-летний опыт и знания. IdeaBank (Беларусь) является универсальным банком и по величине активов, кредитного портфеля, средств клиентов, нормативного капитала входит в первую «десятку» крупнейших белорусских банков. Уставный фонд Банка составляет 101 368 726 белорусских рублей.</p>
                    <div class="footer-two-social">
                        <a href="#" class="fa fa-facebook-f"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="footer-widget recent-post">
                    <div class="footer-title">
                        <h4>Время Работы</h4>
                    </div>
                    <ul class="opening-time">
                        <li>Пн : 8.30 до 19.00</li>
                        <li>Вт : 8.30 до 19.00</li>
                        <li>Ср : 8.30 до 19.00</li>
                        <li>Чт : 8.30 до 19.00</li>
                        <li>Пт : 8.30 до 19.00</li>
                        <li>Сб - Вс : ЗАКРЫТО</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="footer-widget">
                    <div class="footer-title">
                        <h4>Свяжитесь с Нами</h4>
                    </div>
                    <div class="contact-widget">
                        <ul>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/map-pin.png" alt="">
                                </div>
                                <div class="content">
                                    <p>улица Змитрока Бядули 11, Минск</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/envalope-2.png" alt="">
                                </div>
                                <div class="content">
                                    <p>support@ideabank.by
                                        <span>ответим в течении двух часов</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="../asset/img/envalope-2.png" alt="">
                                </div>
                                <div class="content">
                                    <p>
                                        +375-17-229-96-02
                                        +375-29-675-50-74

                                        <span>Звонки с 8.30 до 17.00</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="copy-right-section second-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <div class="copyright-text">
                    <p><i class="fa fa-copyright"></i> 2019 IdeaBank. Все права защищены.</p>
                </div>
            </div>
        </div>
    </div>
</div>