<header class="header-area">
    <div class="topbar-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="left-info">
                        <p><span class="fa fa-clock"></span>Время Работы
                            : Пн - Сб : 8.30 до 16.00</p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="right-info">
                        <p>
                            <a href="../download/documents.7z">
                                <span><i class="fa fa-download"></i>Скачать Брошюры</span>
                            </a>
                            <a href="#">
                                <span><i class="fa fa-futbol-o"></i>Поддержка</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-right-address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sitelogo">
                        <a href="../index.html"><img src="../asset/img/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="right-address">
                        <div class="single-address">
                            <div class="icon">
                                <img src="../asset/img/call.png" alt="" />
                            </div>
                            <div class="content">
                                <p>
                                    <span>Позвоните Нам:</span> 7555
                                </p>
                            </div>
                        </div>
                        <div class="single-address">
                            <div class="icon">
                                <img src="../asset/img/envalope.png" alt="" />
                            </div>
                            <div class="content">
                                <p>
                                    <span>Напишите Нам: </span>
                                    support@ideabank.by
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-lg-11">
                    <div id="cssmenu">
                        <ul>
                            <li><a href="../index.html">Главная</a>
                            </li>
                            <li><a href="../about.html">О Нас</a></li>
                            <li><a href="../credits/financing.html">Финансирование</a>
                                <ul>
                                    <li><a href="../credits/ekspress_credit.html">Быстрые Кредиты</a></li>
                                    <li><a href="../credits/invest_credit.html">Инвестиционные Кредиты</a></li>
                                    <li><a href="../credits/kreditnya-liniya.html">Кредиты в текущую деятельность</a></li>
                                    <li><a href="../credits/special_credit.html">Кредиты на специальных условиях</a></li>
                                    <li><a href="../calculator.html">Кредитный Калькулятор</a></li>
                                </ul>
                            </li>
                            <li><a href="../deposits/incoming.html">Доходы</a>
                                <ul>
                                    <li><a href="../deposits/depozity-nomer-1.html">Депозит №1</a></li>
                                    <li><a href="../deposits/depozity-do-zarplaty.html">До Зарплаты</a></li>
                                    <li><a href="../deposits/depozity-do-vostrebovania.html">До Востребования</a></li>
                                    <li><a href="../deposits/broker.html">Ценные Бумаги</a></li>
                                </ul>
                            </li>
                            <li><a href="../rko/rko.html">Обслуживание
                                    Счетов</a>
                                <ul>
                                    <li><a href="../rko/bazovy.html">Базовый</a></li>
                                    <li><a href="../rko/privet.html">Привет</a></li>
                                    <li><a href="../rko/optimalny.html">Оптимальный</a></li>
                                    <li><a href="../rko/business.html">Бизнес</a></li>
                                    <li><a href="../rko/individual.html">Индивидуальный</a></li>
                                </ul>
                            </li>
                            <li><a href="../contact.html">Свяжитесь с Нами</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div class="searchbtn">
                        <a href="#" class="fa fa-search"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="searchform">
        <input type="text" name="s" placeholder="Поиск...">
        <button><i class="fa fa-times"></i></button>
    </div>
</header>