<div class="row list-input">
    <div class="col-md-6">
        <div class="single-get-touch">
            <input id="lamount-request" type="text" name="lamount" placeholder="Сумма" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="single-get-touch">
            <input id="fname-request" type="text" name="fname" placeholder="Имя" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="single-get-touch">
            <input id="email-request" type="email" name="email" placeholder="Email" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="single-get-touch">
            <input id="phone-request" type="text" name="phone" placeholder="Телефон" required>
        </div>
    </div>
    <div class="col-md-12">
        <div class="single-get-touch">
            <textarea id="text-request" name="text" rows="14" wrap="soft" placeholder="Дополнительная информация"></textarea>
        </div>
    </div>
    <div class="col-md-12">
        <a href="#" id="send-request" class="button btn btn-default btn-sm">
            <i class="fa fa-reply-all"></i>
            Подать Заявку
        </a>
    </div>
</div>